<div class="biography">
  <div class="biography-col3">
    <label>
      <input name="nickname" type="text" value="{{actor.nickname}}" placeholder="Title / Nickname"/>
    </label>
    <label>
      <input name="lastname" type="text" value="{{actor.lastname}}" placeholder="Lastname"/>
    </label>
    <label>
      <input name="firstname" type="text" value="{{actor.firstname}}" placeholder="Firstname"/>
    </label>
  </div>

  <div class="biography-col2-1">
    <label>
      <input name="age" type="text" value="{{actor.age}}" placeholder="Age"/>
    </label>
    <label>
      <input name="gender" type="text" value="{{actor.gender}}" placeholder="Gender"/>
    </label>
  </div>

  <div class="biography-col3">
    <label>
      <input name="origin" type="text" value="{{actor.origin}}" placeholder="Origin"/>
    </label>
    <label>
      <input name="career" type="text" value="{{actor.career}}" placeholder="Career"/>
    </label>
    <label>
      <input name="childhood" type="text" value="{{actor.childhood}}" placeholder="Childhood"/>
    </label>
  </div>


  <div class="biography-col2-2">
    <label>
      Description :
      <textarea name="description">{{actor.description}}</textarea>
    </label>
    <label>
      Story :
      <textarea name="story">{{actor.story}}</textarea>
    </label>
  </div>

  <div>
    <label>
      Traits :
      <input name="traits" type="text" value="{{actor.traits}}"/>
    </label>
  </div>

  <div>
    <label>
      Motivation :
      <textarea name="motivation">{{actor.motivation}}</textarea>
    </label>
  </div>
</div>
