<div class="biography">
  <div class="biography-col3">
    <label>
      Title / Nickname :
      <input name="nickname" type="text" value="{{actor.nickname}}"/>
    </label>
    <label>
      Lastname :
      <input name="lastname" type="text" value="{{actor.lastname}}"/>
    </label>
    <label>
      Firstname :
      <input name="firstname" type="text" value="{{actor.firstname}}"/>
    </label>
  </div>

  <div class="biography-col2-1">
    <label>
      Age :
      <input name="age" type="text" value="{{actor.age}}"/>
    </label>
    <label>
      Gender :
      <input name="gender" type="text" value="{{actor.gender}}"/>
    </label>
  </div>

  <div class="biography-col3">
    <label>
      Origin :
      <input name="origin" type="text" value="{{actor.origin}}"/>
    </label>
    <label>
      Career :
      <input name="career" type="text" value="{{actor.career}}"/>
    </label>
    <label>
      Childhood :
      <input name="childhood" type="text" value="{{actor.childhood}}"/>
    </label>
  </div>


  <div class="biography-col2-2">
    <label>
      Description :
      <textarea name="description">{{actor.description}}</textarea>
    </label>
    <label>
      Story :
      <textarea name="story">{{actor.story}}</textarea>
    </label>
  </div>

  <div>
    <label>
      Traits :
      <input name="traits" type="text" value="{{actor.traits}}"/>
    </label>
  </div>

  <div>
    <label>
      Motivation :
      <textarea name="motivation">{{actor.motivation}}</textarea>
    </label>
  </div>
</div>
